*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid darkgreen;
  background-color: greenyellow;
}

.main-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input input{
  width: 300px;
  height: 50px;
  padding: 0 15px;
  margin: 20px;
}

.input button{
  padding: 15px;
}